/* Add here all your css styles (customizations) */


.hero-bg {
  background: url("../img/hero-bg-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -90px;
  background-attachment: fixed;
  height: 100%
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* NOTE parallax cards v2 *
/
/* .hero-scroll {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}

.hero-scroll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url('bg.jpg');
  background-size: cover;
  z-index: 0;
  transform: translateZ(-4px) scale(2);
} */

/* .hero-scroll div {
  position: absolute;
  z-index: 1;
  top: 50%;
  padding: 0 30px;
  font-family: 'Roboto Condensed', sans-serif;
  transform: translateZ(-2px) scale(1.5);
} */

.who-what {
  text-shadow: 2px 2px 15px #000000;
}


.microbe-logo {
  margin-top: 43vh
}

.card {
  background: rgb(23,133,142);
  background: linear-gradient(343deg, rgba(23,133,142,1) 0%, rgba(134,210,216,1) 87%, rgba(185,235,237,1) 100%);
  border: transparent;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  height: 28vh

}

/* NOTE Not Working */
.card-scroll {
  position: relative;
}

.card-scroll::before{
  content: '';
  position: absolute;
  bottom: 0;
  height: 100px;
  z-index: 10000
}

.card-scroll::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
z-index: 10000;

}

.border-rs {
  border-right-style: solid;
  border-right-width: medium;
}

.phase-hover:active {
  color: #6ac9c9
}

.phase-click {
  color: #6ac9c9 !important;
  font-weight: bold;
}

.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-hl {
  position: absolute;
  top: 13%;
  left: 22%;
  text-align: left;
  /* transform: translate(-50%, -50%); */
}

.centered-cta {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zoom {
  padding: 50px;
  transition: transform .3s; /* Animation */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.zoom:hover {
  transform: scale(1.2);
}

.hidden {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.zoom:hover .hidden {
  opacity: 1;
}

.zoom:hover img {
  filter: grayscale(60%) brightness(.3) blur(3px);
  /* -webkit-filter: grayscale(.7) blur(3px); */
}


.alert{
  display: none;
}