/* Add here all your css styles (customizations) */
.hero-bg {
  background-image: url("../img/hero-bg-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -90px;
  background-attachment: fixed;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.microbe-logo {
  margin-top: 43vh
}

.card {
  background: rgb(23,133,142);
  background: linear-gradient(343deg, rgba(23,133,142,1) 0%, rgba(134,210,216,1) 87%, rgba(185,235,237,1) 100%);
  border: transparent;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  height: 28vh

}

.border-rs {
  border-right-style: solid;
  border-right-width: medium;
}

.phase-hover:active {
  color: #6ac9c9
}

.phase-click {
  color: #6ac9c9 !important;
  font-weight: bold;
}

.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-hl {
  position: absolute;
  top: 13%;
  left: 22%;
  text-align: left;
  /* transform: translate(-50%, -50%); */
}

.centered-cta {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zoom {
  padding: 50px;
  transition: transform .3s; /* Animation */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.zoom:hover {
  transform: scale(1.2);
}

.hidden {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.zoom:hover .hidden {
  opacity: 1;
}

.zoom:hover img {
  filter: grayscale(60%) brightness(.3) blur(3px);
  /* -webkit-filter: grayscale(.7) blur(3px); */
}
